:root {
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  --Light-grayish-blue: hsl(240, 5%, 91%);
}
body {
  min-height: 100vh;
  background: linear-gradient(180deg, var(--Soft-violet), var(--Soft-blue));
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  color: var(--Very-dark-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 100%;
}

main {
  width: 295px;
  background-color: #fff;
  padding: 1.6rem;
  border-radius: 25px;
  margin: 9rem 0.6rem;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.illustration {
  margin-bottom: -9rem;
}

.illustration .illustration-woman-mobile {
  position: relative;
  transform: translateY(-163px);
  z-index: 1;
}

.illustration .illustration-woman-desktop {
  display: none;
}

.illustration .bg-pattern-mobile {
  width: 100%;
  transform: translateY(-263px);
  margin-bottom: -6rem;
}
.illustration .bg-pattern-desktop {
  display: none;
}

.illustration-box {
  display: none;
}

.container {
  margin-bottom: 1.3rem;
}

.container h1 {
  color: var(--Very-dark-desaturated-blue);
  font-size: 2rem;
  text-align: center;
}

.question {
  cursor: pointer;
  border-bottom: 1px solid var(--Light-grayish-blue);
}
.question div {
  display: flex;
  align-items: center;
}
.question div h2 {
  font-size: 0.9rem;
  font-weight: 400;
  transition: all 0.2s ease;
}

.question div h2:hover {
  color: var(--Soft-red);
}
.question div h2.active {
  font-weight: 700;
}
.question div .arrow-img {
  margin-left: auto;
  transition: transform 0.3s ease;
}
.question div .arrow-img.rotate {
  transform: rotate(180deg);
}
.question .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.question .answer.show {
  max-height: 300px;
}
.question .answer p {
  max-width: 260px;
  color: var(--Dark-grayish-blue);
  line-height: 1.6;
  margin-top: 0;
}

@media (min-width: 1440px) {
  main {
    width: 900px;
    padding: 0 1.6rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .illustration {
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: right 76px bottom -200px;
    margin-left: -26px;
    margin-bottom: initial;
    overflow: hidden;
  }
  .illustration .illustration-woman-mobile {
    display: none;
  }
  .illustration .illustration-woman-desktop {
    display: block;
    margin: 2rem 0;
    transform: translate(-69px, 0px);
    z-index: 2;
  }

  .illustration .bg-pattern-mobile {
    display: none;
  }

  .illustration-box {
    position: absolute;
    display: block;
    transform: translate(-119px, -239px);
    z-index: 3;
  }

  .container {
    margin: 0 3rem;
  }
  .container h1 {
    margin-top: initial;
    text-align: left;
  }

  .question div h2 {
    font-size: 1rem;
  }
}
